- collapsed = session[:opportunity_customfields].nil? # && @opportunity.errors.empty?
= subtitle :opportunity_customfields, collapsed, "Custom fields"
.section
  %small#opportunity_customfields_intro{ hidden_if(!collapsed) }
    You can add custom information below, check with your administator if you need to add new fields here.
  #opportunity_customfields{ hidden_if(collapsed) }
    %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
      - @customfields.each_with_index do |cf,i| 
        - if i.even?
          %tr 
        %td{ :valign => :top }
          .label.top.req 
            =cf.field_label
          = f.text_field cf.field_name, :style => "width: #{cf.display_width}px" if cf.field_type=='Integer'
          = f.text_field cf.field_name, :style => "width: #{cf.display_width}px" if cf.field_type=='String'
          = f.textarea cf.field_name, :style => "width: #{cf.display_width}px" if cf.field_type=='Textarea'
            
      
  